@import "tailwindcss";

.pagination {
  justify-content: center;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page-link {
  display: block;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 2px;
  text-decoration: none;
}

a.page-link:hover {
  background-color: #cccccc;
}

.page-item.active .page-link {
  color: #ffffff;
  background-color: #007bff;
}

.swiper-wrapper {
            height: max-content !important;
           
            width: max-content;
        }

        .swiper-button-prev:after,
        .swiper-rtl .swiper-button-next:after {
            content: "" !important;
        }

        .swiper-button-next:after,
        .swiper-rtl .swiper-button-prev:after {
            content: "" !important;

        }

        .product-thumb .swiper-slide.swiper-slide-thumb-active>.slide\:border-indigo-600 {
            --tw-border-opacity: 1;
            border-color: rgb(79 70 229 / var(--tw-border-opacity));
        }